Add a reference to AtomLink RFC4287

I believe the definiont oa the links used in here is based on the atom link  defined in section 4.2.7 of the RFC4287. Can we add this as a reference in OGC API Common?.

While "based on" is in a way correct, the normative reference is RFC 8288 (which has Atom as one of the inputs in addition to HTML5). Adding RFC4287 as a normative reference would be incorrect, there is no dependency to that RFC. 

@cportele Thanks for claryfying that.
@joanma747 See [Appendix A.2](https://tools.ietf.org/html/rfc8288#appendix-A.2) specifically

I suppose then that it is not correct to name the class `Atom:Link`, and that we correct the TileSet Metadata UML accordingly (it should simply be called `Link`?). 
Right now _OGC API - Common - Part 1: Core_ seems to link to _Features_ for the Link YAML schema in https://docs.opengeospatial.org/is/17-069r3/17-069r3.html#string_i18n:
http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/link.yaml
Should it not be defining it directly? Should we have that UML there in Common instead?
It is mentioning this Link object in passing discussing string internationalization, but given the central importance of this class in OGC API, shouldn't it have its own dedicated section in Part 1?

@jerstlouis The link.yaml and link.json schemas are defined in common. But since common is not yet approved, they cannot be posted to schemas.opengis.net.  Document 17-069 (which you referenced) is API Features, not common. 
I have not been able to find any links in Common Part 1 which resolve to API-Features. I think we can close this issue.


@cmheazel Sorry for the mixed up reference to Features.
I see the links section now in 6.4 http://docs.opengeospatial.org/DRAFTS/19-072.html#link-relation-conventions .


Proposed solution in the 2021-02-08 telco:
A section 6.3 will be introduced describing the "link" (and including the last part of the current 6.2
The current 6.3 will become 6.4 and will be exclusively about link rels. The section will start with a sentence saying that a link rel is: suggestion: "link relation type identifies the semantics a link.  For example, a link with the relation type "copyright"
   indicates that the current link context has a copyright resource at the link target."



February 8 update to working branch
Created a new Links section (6.3) which discusses the concept of linked resources and provides the links schema.
Old section 6.3 is now section 6.4. This section concentrates on link relation types. 
Deleted permission 1 (additional link relations)
Deleted relation types from Table 2 which are not relevant to Part 1.